{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}


	<h1>Une sélection de nos produits...</h1>
	<div class="row">
		{% for product in products %}


			<div class="col">
				{% include "product/_product_card.html.twig" with {'p': product} %}
			</div>
		{% endfor %}
	</div>

	<hr>

	<h2>Un service irreprochable</h2>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
            'color': 'primary',
            'icone': 'fas fa-truck',
            'text': "Une fois la commande effectuée, sous 4 jours ouvrés elle est chez vous !"
        }%}

		{% include "shared/_assurance.html.twig" with {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Grâce à notre équipe passionnée, plus de 9 clients sur 10 sont satisfaits de Fresh Air Shop."
        }%}

		{% include "shared/_assurance.html.twig" with {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Sur Fresh Air Shop, les paiements en ligne, rapides, simples, et sécurisés. "
        }%}
	</div>


{% endblock %}
